@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100vw;
}
h1{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    color: red;
    margin-top: -5px;
    font-size: 1.8em;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}
